.cms-editor-active .figure img {
    opacity: 1 !important;
}

.cms-editor-active .editor-hidden {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0px !important;
}

.cms-editor-active figcaption {
    opacity: 1 !important;
}

.cms-editor-active #page-description {
    opacity: 1 !important;
}


.cms-editor-active figcaption h2 {
    color: #000 !important
}