/* Normal Weight */
@font-face {
  font-family: 'Louize';
  src: url('/fonts/Louize - Regular-205TF.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Bold Weight */
@font-face {
  font-family: 'Louize';
  src: url('/fonts/Louize - Bold-205TF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Louize';
  src: url('/fonts/Louize - Italic-205TF.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

html {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

*,
body,
button,
input,
textarea,
select {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: 4px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #c8c8c8 #ffffff;
}

html::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

html::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
}


p {
  @apply mb-4 !important;
}

.figure p {
  @apply mb-0 !important;
}

p:empty {
  margin-bottom: 0px !important;
}


blockquote {
  @apply border-l-2 border-gray-600 border-solid pl-4;
}

h3 p {
  @apply mb-0 !important;
}

body.slug-current-works .nav-current,
body.slug-collections .nav-past,
body.overview .nav-overview,
body.slug-about .nav-information {
  @apply font-bold;
}

a[href^="mailto:"],
a[href^="tel:"] {
  @apply underline;
}


body {
  background-color: #fff;
  transition: 0.33s background-color cubic-bezier(0.600, 0.040, 0.980, 0.335);
  transition-delay: 0.15s;
  scrollbar-width: none;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html.is-animating img {
  opacity: 0 !important;
}

.transition-page {
  transition: 0.4s opacity cubic-bezier(0.550, 0.055, 0.675, 0.190);
  transition-delay: 0.33s;
  opacity: 1 !important;
}

body.page-collections .transition-page {
  transition-delay: 0s !important;
}

html.is-animating .transition-page {
  opacity: 0 !important;
}

html.is-animating #filters,
html.is-animating #navigation,
html.is-animating #filter {
  background-color: transparent !important;
  opacity: 0 !important;
}


.transition-nav {
  transition: 0.15s;
  transition-delay: 0.15s;
  opacity: 1;
}

html.is-animating .transition-nav {
  opacity: 0;
}


#navigation {
  transition: 0.33s transform ease-in-out, 0.4s opacity cubic-bezier(0.550, 0.055, 0.675, 0.190);
  /* height: 68px !important; */
  /* z-index: 999; */
}

#navigation .navigation-container {
  background-color: transparent;
  transition: background-color 0.33s ease-in-out, height 0.33s ease-in-out;
}



#navigation.active {
  height: auto;
  transform: translate3d(0px, 0px, 0px) !important;
}


#navigation.active .menu {
  transform: translateY(0%);
  display: flex !important;
}

#navigation.active .navigation-container {
  background-color: rgba(255, 255, 255, 0.90);
}

#navigation.active .shift {
  color: #000 !important;
  fill: #000 !important;
}

#navigation a,
#navigation a span,
#navigation a div {
  transition: color 0.33s ease-in-out, fill 0.33s ease-in-out;
}

.name .archive, .name .overview {
  transition: opacity 0.33s ease-in-out, display 0s ease-in-out, color 0.33s ease-in-out !important;
  transition-delay: 0s !important;
 }

.name:hover .overview.opacity-0 {
  opacity: 1 !important;
}

.name:hover .archive.opacity-100 {
  opacity: 0 !important;
}



.hue-header.white .shift.nav-ig {
  fill: #fff;
}

body.dark .initial-black {
  color: #ffffff !important;
  fill: #ffffff !important;
  transition: color 0.33s ease-in-out, fill 0.33s ease-in-out;
}

body.dark .initial-black-bg {
  background-color: #ffffff !important;
  transition: background-color 0.33s ease-in-out;
}

.initial-black {
  color: #000000 !important;
  fill: #000000 !important;
  transition: color 0.33s ease-in-out, fill 0.33s ease-in-out;
}

.initial-black-bg {
  background-color: #000000 !important;
  transition: background-color 0.33s ease-in-out;
}


svg.hover:hover path {
  stroke-width: 15;
}

#navigation .menu {
  transition: 0.33s all ease-in-out;
}

.hue-header-inner {
  overflow-y: hidden !important;
}


#filter-container {
  transition: 0.33s transform ease-in-out, 0.4s opacity cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

#filter {


  transition: 0.33s transform ease-in-out, 0.4s opacity cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

@keyframes loading-pulse {
  0% {
    background-position: -400px 0%;
  }

  100% {
    background-position: 400px 0%;
  }
}


#header-overlay,
#feature-overlay,
#header-pointer,
#header-loading {
  will-change: opacity, transform;
}

#project-header img.lazyload+#header-overlay,
#project-header img.lazyloading+#header-overlay,
#project-header img.lazyload+#feature-overlay,
#project-header img.lazyloading+#feature-overlay {
  transition: opacity 0.33s ease-in-out 0.1s;
  opacity: 1;
}

#project-header #header-image,
#project-header #feature-picture {
  transition: opacity 0.33s ease-in-out 2s;
}

/* #header-pointer {
  transition: opacity 0.33s ease-in-out 0.66s;
  opacity: 0;
} */

#header-loading {
  transition: opacity 0.33s ease-in-out 0.33s;
  opacity: 1;
}

#project-header img.lazyloaded+#header-loading+#header-pointer,
#project-header img.lazyloaded+#header-loading+#header-pointer {
  opacity: 1;
}

#project-header img.lazyloaded+#header-loading,
#project-header img.lazyloaded+#header-loading {
  opacity: 0;
}

.loading {
  /* height: 1px;
  max-height: 1px; */
}

.lazy-gallery.lazyloaded .icon {
  opacity: 0;
}

#project-description a {
  text-decoration: underline;
}

#page-description p {
  margin-bottom: 0.5rem !important;
  line-height: normal;
}

@keyframes r-drop {
  0% {
    mask-position: center 40%;
  }

  100% {
    mask-position: center 50%;
  }
}

@keyframes r-expand {
  0% {}

  99% {
    mask-size: 1000% auto;
  }

  100% {
    mask-size: 5000% auto;
  }
}


header img {
  transition: opacity 0.33s ease-in-out;
  will-change: opactiy;
}

header img.lazyload,
header img.lazyloading {
  opacity: 0;
}

header img.lazyloaded {
  opacity: 1;
  transition: opacity 0s ease-in-out;
}

#loading-overlay {
  will-change: opactiy;
  transition: opacity 0.33s ease-in-out 0.1s;
}

#project-header {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  transition: 0.5s height ease-out;
}

#project-header img.lazyloaded #loading-overlay {
  opacity: 0;
}

img[data-sizes="auto"] {
  display: block;
  width: 100%;
}

img {
  transition: 0.4s opacity cubic-bezier(0.550, 0.055, 0.675, 0.190);
  transition-delay: 0.33s;
  opacity: 1;
  width: 100%;
  height: auto;
  display: block;
}

img.lazyload,
img.lazyloading,
img.lazyload-delay {
  opacity: 0;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 3000ms 500ms, -webkit-filter 3000ms 500ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

body.dark #project-header,
body.dark #project-description,
body.dark section[data-hue="page"],
body.dark section[data-hue="white"],
body.dark #project-brief {
  background-color: #000 !important;
}

body.dark .collection-next,
body.dark .collection-prev {
  color: #fff;
}

body.dark .arrow path {
  fill: #fff !important
}


.block-hover img {
  transition-delay: 0s;
}

img.lazyloaded {
  opacity: 1;
  transition-delay: 0s;
}

figure.lit img {
  opacity: 0;
}

figure img {
  transition: 0.4s all ease-out;
  transform: scale(1);
}

figure:hover img {
  opacity: 1;
}

figure.block-hover:hover img {
  opacity: 1;
  transform: scale(1.025);
}

.iframe-frame {
  overflow: hidden;
}

figure.block-hover iframe {
  transition: 0.4s all ease-out;
  transform: scale(1);
}

figure.block-hover:hover iframe {
  transform: scale(1.025);
}

.mediabox {
  position: relative;
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: 66.6667%;
}

.mediabox-img.ls-blur-up-is-loading,
.mediabox-img.lazyload:not([src]) {
  visibility: hidden;
}

.ls-blur-up-img,
.mediabox-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;

  /* only if you want to change the blur-up option from always to auto or want to use blur up effect without a lowsrc image. */
  font-family: "blur-up: auto", "object-fit: cover";

  object-fit: cover;
}

.ls-blur-up-img {
  filter: blur(10px);
  opacity: 1;
  transition: opacity 1000ms, filter 1500ms;
}

.ls-blur-up-img.ls-inview.ls-original-loaded {
  opacity: 0;
  filter: blur(5px);
}


html {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='10' height='10'%3E%3Ccircle cx='5' cy='5' r='4.5'/%3E%3C/svg%3E"), auto;
}

html.dark {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='10' height='10'%3E%3Ccircle cx='5' cy='5' r='4.5' fill='%23ffffff'/%3E%3C/svg%3E"), auto;
}

a:hover,
button:hover,
body.page-current-works figure img:hover,
body.page-current-works figure .modal-trigger div:hover,
.popup-trigger img:hover,
.popup-modal__close:hover,
.hover-circle:hover,
.collection-next:hover,
.collection-prev:hover {
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='12px' height='12px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E %3Cpath  style='enable-background:new 0 0 512 512;' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z'/%3E %3C/svg%3E"),
    zoom-in !important;
}

body.dark a:hover,
body.dark button:hover,
body.page-current-works.dark figure img:hover,
body.page-current-works.dark figure .modal-trigger div:hover,
body.dark .popup-trigger img:hover,
body.dark .popup-modal__close:hover,
body.dark .hover-circle:hover,
body.dark .collection-next:hover,
body.dark .collection-prev:hover {
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='12px' height='12px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E %3Cpath fill='%23ffffff' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z'/%3E %3C/svg%3E"),
    zoom-in !important;
}


.magnify img:hover,
.magnify .video:hover {
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='15px' height='15px' viewBox='0 0 256 256' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E %3Cpath  style='enable-background:new 0 0 256 256;' d='m256.19 242.5-70.73-70.84.78-.93a103.82 103.82 0 1 0 -14.89 15l.63-.52 70.76 70.79zm-150.7-49.24a88 88 0 1 1 88-88 87.94 87.94 0 0 1 -88 88z'/%3E %3C/svg%3E"),
    zoom-in;
}

body.dark .magnify img:hover,
body.dark .magnify .video:hover {
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='15px' height='15px' viewBox='0 0 256 256' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E %3Cpath fill='%23ffffff' style='enable-background:new 0 0 256 256;' d='m256.19 242.5-70.73-70.84.78-.93a103.82 103.82 0 1 0 -14.89 15l.63-.52 70.76 70.79zm-150.7-49.24a88 88 0 1 1 88-88 87.94 87.94 0 0 1 -88 88z'/%3E %3C/svg%3E"),
    zoom-in;
}



.figure.figure-blog-cover h1,
.figure.figure-blog-cover h2 {
  opacity: 0;
  transition: 0.4s opacity cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

.figure.figure-blog-text h1,
.figure.figure-blog-text h2 {
  opacity: 0;
  transition: 0.4s opacity cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

.figure.figure-blog-cover:hover h1,
.figure.figure-blog-cover:hover h2 {
  opacity: 1;
}

.figure.figure-blog-text:hover h1,
.figure.figure-blog-text:hover h2 {
  opacity: 0;
}


.figure.figure-blog-cover:hover img,
.figure.figure-blog-cover:hover iframe {
  opacity: 0 !important;
}




figcaption p {
  @apply mb-4;
}



.overview-grid .group-hover .figure.block-hover {
  align-self: center !important;
}

body .overview-grid .group-hover .figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body .overview-grid .group-hover .figure.motion {
  display: block !important;
}

body.gallery-closed .overview-gallery .group-hover .figure {
  background: transparent !important;
}


.overview-grid .group-hover .figure img {
  height: 300px;
  /* Example height, adjust as needed */
  width: auto;
  object-fit: contain;
  /* This ensures the image covers the area without stretching */
}

@media only screen and (max-width: 3000px) {
  .overview-grid .group-hover .figure img {
    height: 300px;
    /* Example height, adjust as needed */
  }
}

@media only screen and (max-width: 2500px) {
  .overview-grid .group-hover .figure img {
    height: 260px;
    /* Example height, adjust as needed */
  }
}

@media only screen and (max-width: 2000px) {
  .overview-grid .group-hover .figure img {
    height: 180px;
    /* Example height, adjust as needed */
  }
}

@media only screen and (max-width: 1000px) {
  .overview-grid .group-hover .figure img {
    height: 100px;
    /* Example height, adjust as needed */
  }
}

@media only screen and (max-width: 767px) {
  .overview-grid .group-hover .figure img {
    height: auto
  }
}




li.collection-next div {
  flex-direction: row-reverse;
  text-align: right;
}

li.collection-next .pager-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

li.collection-next .arrow {
  transform: scaleX(-1);
}

#project-brief section a,
#about-description a {
  text-decoration: underline;
}

footer a {
  text-decoration: none !important;
}

/* Filters */
#filters {
  will-change: transform, opacity;
  transition: 0.33s opacity cubic-bezier(0.55, 0.055, 0.675, 0.19), 0.33s transform ease-in-out;
  top: 0px;
}

#filters::before {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, .95);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: translate3d(0px, 0px, 0px);
}

#categories {
  max-height: 0;
  opacity: 0;
  will-change: max-height;
  transition: all 0.33s ease-in-out;
  overflow: hidden;
  padding-top: 0.5rem;
  padding-bottom: 0px;
}

#categories.opened {
  max-height: 600px;
  opacity: 1;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#catToggle::after {
  content: " +";
}

#catToggle.active::after {
  content: " -";
}

#filter-loading {
  transition: 0.1s opacity linear;
  will-change: opacity;
  opacity: 1;
}

#filter-error,
#all,
#all-divide {
  transition: 0.3s opacity linear;
  will-change: opacity;
  opacity: 0;
}

#filter-archive {
  transition: 0.15s opacity linear;
  will-change: opacity;
  opacity: 1;
}


#filter-error.active {
  opacity: 1;
}

.filter-item {
  transform: translate3d(0, 0, 0);
}

.filter-item img.lazyloading,
.filter-item img.lazyload {
  opacity: 0 !important;
}

.filter-item figcaption {
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.33s ease-in-out;
}

.filter-item.active figcaption {
  opacity: 1 !important;
}

.filter-item img {
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.33s ease-in-out;
}

.filter-item.active img {
  opacity: 1;
}

.filter-container {
  will-change: height;
  transition-duration: 0.8s;
  transition-property: height;
  min-height: 400px;
}

/* #filter-archive::after {
  position: absolute;
  background: #000;
  content: "";
  width: 200vw;
  height: 1000vh;
  top:0;
  bottom:0;
  left:-2rem;
  right:0;
  overflow: visible;
  z-index: -1;
} */


.spin {
  animation: fa-spin 2s infinite linear;
}

/**** disabling Isotope CSS3 transitions ****/
.collection-preview svg {
  opacity: 1;
  transition: opacity 0.33s ease-in-out;
}


.collection-preview.lazyloaded svg {
  opacity: 0;
}


.filter-container.no-transition,
.filter-container.no-transition .filter-item,
.filter-container .filter-item.no-transition {
  transition-duration: 0s;
}

/* Collection slideshow */
.filter-item img {
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.filter-item img:nth-child(1) {
  z-index: 4;
}

.filter-item.active img:nth-child(1) {
  opacity: 1;
}

.filter-item img:nth-child(2) {
  z-index: 3;
}

.filter-item img:nth-child(3) {
  z-index: 2;
}

.filter-item img:nth-child(4) {
  z-index: 1;
}


@keyframes showMe {
  0% {
    opacity: 1;
  }

  17% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  92% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* About Page */
#about-description {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white;
  }
}

.about-bio a {
  text-decoration: underline;
}

/* Modal Popup */

.body-popup {
  z-index: 1010;
  display: none;

  &.is-poped-out {
    display: block;
  }
}

.popup-trigger {
  display: inline-block;
}


.popup-trigger img {
  opacity: 1;
  transition: 0.4s opacity cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

.popup-trigger:hover img {
  opacity: 0;
}

.popup-modal {
  will-change: opacity;
  opacity: 0;
  transition: 0.4s all cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

.popup-modal.is--visible,
.popup-modal .show {
  opacity: 1;
  pointer-events: auto;
}

#popup-modal-url {
  z-index: 9999;
}


@media (min-width: 768px) {
  .sm\:meta-hover h6 {
    opacity: 0 !important;
    transition: 0.4s opacity cubic-bezier(0.550, 0.055, 0.675, 0.190);
    transition-delay: 0s !important;
  }

  .sm\:meta-hover:hover h6 {
    opacity: 1 !important;
  }

  .sm\:meta-hover span.count {
    opacity: 1 !important;
    transition: 0.4s opacity cubic-bezier(0.550, 0.055, 0.675, 0.190);
    transition-delay: 0s !important;
  }

  .sm\:meta-hover:hover span.count {
    opacity: 0 !important;
  }
}


.border-box {
  box-sizing: border-box;
}

.content-box {
  box-sizing: content-box;
}

.vh-20 {
  height: 20vh;
}

.vh-25 {
  height: 25vh;
}

.vh-33 {
  height: 33vh;
}

.vh-50 {
  height: 50vh;
}

.vh-66 {
  height: 66vh;
}

.vh-75 {
  height: 75vh;
}

.vh-80 {
  height: 80vh;
}

.vh-90 {
  height: 90vh;
}

.vh-screen {
  height: 100vh;
}

.rellax-on {
  transform: translate3d(0px, 0px, 0px);
}


.rellax {
  transform: translate3d(0px, 0px, 0px);
  will-change: transform;
}

@media only screen and (max-width: 1024px) {

  .rellax,
  img.rellax+figcaption {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .rellax-off {
    transform: translate3d(0px, 0px, 0px) !important;
  }

  header#project-header img.featured {
    mask-size: 50% auto;
  }


  .popup-modal {
    height: 100vh !important;
    width: 100vw !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
  }

  .popup-modal .popup-modal__close {
    right: 0px !important;
    top: 0px !important;
  }

}

@media only screen and (max-width: 1280px) {
  .rellax-off-lg {
    transform: translate3d(0px, 0px, 0px) !important;
  }
}