{{ $fileName := path.Base .vimeo_id | replaceRE "(.doc|.jpeg|.jpg)" ""}}
<article
  class=" sm:meta-hover relative self-start {{with .align_y}}sm:self-{{.}}{{end}} w-full {{with .width}}sm:w-{{.}}/100{{end}} py-4 sm:py-0 mt-0 {{with .margin_y}}sm:mt-{{.}}{{end}} ml-0 {{with .margin_left}}sm:ml-{{.}}%{{end}} mr-0 {{with .margin_right}}sm:mr-{{.}}%{{end}} highlight rellax-wrapper"
>
  <figure class="figure motion block-hover relative" itemprop="associatedMedia" itemscope itemtype="http://schema.org/VideoObject" id="{{ $fileName }}">
    <a class="video relative block" itemprop="contentUrl" pid="{{ $fileName }}" background="{{ if .show_controls }}1{{ else }}0{{ end }}" data-no-swup>
      <div class="block">
        <div class="absolute inset-auto w-full h-full z-10 bg-transparent"></div>
          <div class="iframe-frame {{with .block_aspect_ratio }}aspect-{{.}}{{else}}aspect-16x9{{end}}" style="position:relative;">
              <iframe  class="lazyload" data-src="https://player.vimeo.com/video/{{.vimeo_id | safeHTML}}?color={{with .color}}{{. | replaceRE "#" "" }}{{else}}{{.Page.Params.theme_color}}{{end}}&title=0&byline=0&portrait=0&loop=1&background=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
          </div>
      </div>
    </a>
    </figure>
    {{ with .text}}
      <h5
        class="mb-0 ml-0 text-black font-normal text-xs sm:text-base tracking-widest leading-tight mt-1 sm:mt-3 inline-block sm:block {{ with $.meta_align }}text-{{ . }}{{ else }}text-left{{ end }} w-full"
        data-sal="slide-down"
        data-sal-delay="600"
      >
        {{ . }}
      </h5>
    {{ end }}
 </article>
<!-- </section> -->