<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ if .Params.seo.meta_title }}{{.Params.seo.meta_title}}{{else}}{{.Params.Title}}. {{.Params.collection_meta}}{{end}}</title>
    <meta property="og:title" content="{{ if .Params.seo.meta_title }}{{.Params.seo.meta_title}}{{else}}{{.Params.Title}}. {{.Params.collection_meta}}{{end}}"/>
    <meta name="description" property="og:description"  content="{{if .Params.seo.meta_description}}{{.Params.seo.meta_description}}{{else}}{{.Params.collection_description | markdownify | truncate 150 }}{{end}}">

    
    <meta name="author" content="{{ .Site.Title }}"/>
    <meta property="og:url" content="{{ .Permalink | absLangURL }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    {{if .Params.collection_cover }}
    <meta property="og:image" content="{{.Params.collection_cover}}?width=1200" />
    {{else}}
    <meta property="og:image" content="{{.Params.cover_image}}?width=1200" />
    {{end}}
  
    <link rel="canonical" href="{{ .Permalink | absLangURL }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    {{ $styles := resources.Get "/css/style.css"  }}

    {{ if .Site.IsServer }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
    {{ else }}
      {{ $styles := $styles | minify   }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ end }}
    {{- $options := dict "targetPath" "js/bundle.js" -}}
    <!-- {{- $jsBundle := resources.Get "js/index.js" | js.Build $options | resources.Minify | fingerprint -}} -->

    {{- $jsBundle := resources.Get "js/index.js" | js.Build $options | fingerprint -}}
		<script src="{{ $jsBundle.RelPermalink }}" integrity="{{ $jsBundle.Data.Integrity }}" defer></script>
    <!-- <link rel="stylesheet" href="https://use.typekit.net/khw0qei.css"> -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-N2ZVNND');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="{{ with.Title }}page-{{ lower . | urlize }}{{ end }} {{ if eq .Params.collection_archive true }}archive{{end}} {{ with .Slug }}slug-{{ . }}{{ end }} {{if (eq .Params.collection_overview true) }}overview gallery-closed{{end}}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2ZVNND"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {{ partial "header" .}}
    <main id="content" class="transition-page">
      {{ block "main" . }}
      {{ end }}
      {{ block "attached" .}}
      {{ end }}
      <!-- <script src="https://gumroad.com/js/gumroad.js"></script> -->
      <script src="https://player.vimeo.com/api/player.js"></script>
    </main>
    <!-- {{ partial "modal_about.html" .}} -->
    {{ partial "fa-icon.html" .}}

  </body>
</html>
