<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{print .Page.Title " | " .Site.Title}}</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/images/favicon.png" type="image/x-icon" />
    {{ $styles := resources.Get "/css/style.css"  }}

    {{ if .Site.IsServer }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
    {{ else }}
      {{ $styles := $styles | minify   }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ end }}
    {{- $options := dict "targetPath" "js/bundle.js" -}}
    <!-- {{- $jsBundle := resources.Get "js/index.js" | js.Build $options | resources.Minify | fingerprint -}} -->

    {{- $jsBundle := resources.Get "js/index.js" | js.Build $options | fingerprint -}}
		<script src="{{ $jsBundle.RelPermalink }}" integrity="{{ $jsBundle.Data.Integrity }}" defer></script>
  </head>
  <body class="{{ with.Title }}page-{{ lower . | urlize }}{{ end }} {{ if eq .Params.collection_archive true }}archive{{end}}">
    {{ partial "header" .}}
    <main id="content" class="transition-page">
      {{ block "main" .}}
      {{ end }}
      {{ partial "footer" . }}
      {{ block "attached" .}}
      {{ end }}
      <!-- <script src="https://gumroad.com/js/gumroad.js"></script> -->
      <script src="https://player.vimeo.com/api/player.js"></script>
    </main>
    <!-- {{ partial "modal_about.html" .}} -->
    {{ partial "fa-icon.html" .}}
    <style type="text/css">
    {{ partial "style_themer.html" . | safeCSS }}
    </style>
        <link rel="stylesheet" href="https://use.typekit.net/khw0qei.css">
        <script src="https://kit.fontawesome.com/a1dff7fdae.js" crossorigin="anonymous"></script>
  </body>
</html>
