
{{ $fileName := path.Base .vimeo_id | replaceRE "(.doc|.jpeg|.jpg)" ""}}
<article
  class=" sm:meta-hover relative self-start {{with .align_y}}sm:self-{{.}}{{end}} w-full {{with .width}}sm:w-{{.}}/100{{end}} py-4 sm:py-0 mt-0 {{with .margin_y}}sm:mt-{{.}}{{end}} ml-0 {{with .margin_left}}sm:ml-{{.}}%{{end}} mr-0 {{with .margin_right}}sm:mr-{{.}}%{{end}} highlight rellax-wrapper"
>
  <figure class="figure block-hover relative" itemprop="associatedMedia" itemscope itemtype="http://schema.org/VideoObject" id="{{ $fileName }}">
    <!-- <a href="{{ .image }}" itemprop="contentUrl" pid="{{ $fileName }}" data-no-swup>
      <img class="lazyload" src="{{ .image }}?width=1024" data-src="{{ .image }}" alt="{{ .caption }}"/>
    </a> -->
    <a {{ with site.GetPage .attached_collection }}href="/collections/{{.Params.slug | urlize}}/"{{end}} class="video relative block" itemprop="contentUrl" pid="{{ $fileName }}" background={{.show_controls}} data-no-swup>
      <div class="block">
        <div class="absolute inset-auto w-full h-full z-10 bg-transparent"></div>
          <div class="iframe-frame {{with .block_aspect_ratio }}aspect-{{.}}{{else}}aspect-16x9{{end}}" style="position:relative;">
              <iframe  class="lazyload" data-src="https://player.vimeo.com/video/{{.vimeo_id | safeHTML}}?color={{with .color}}{{. | replaceRE "#" "" }}{{else}}{{.Page.Params.theme_color}}{{end}}&title=0&byline=0&portrait=0&loop=1{{if eq .show_controls true}}&background=0{{else}}&background=1&autoplay=1&loop=1&autopause=0{{end}}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
          </div>
      </div>
    </a>
      </figure> 
  {{ if .meta }} {{ $metaAlign := "" }} {{ with .meta_align }} {{ $metaAlign =
  printf "text-%s" . }} {{ end }}
  <span class="relative">
    {{ with site.GetPage .attached_collection }} {{ $blocks :=
    .Params.collection_blocks }} {{ $mediaElement := where $blocks
    "_bookshop_name" "collections/media-element" }} {{ $mediaFeature := where
    $blocks "_bookshop_name" "collections/media-feature" }} {{ $mediaMotion :=
    where $blocks "_bookshop_name" "collections/media-motion" }} {{ $mediaCount
    := add (add (len $mediaElement) (len $mediaFeature)) (len $mediaMotion) }}
    {{ if gt $mediaCount 0 }}
    <span
      class="count mb-0 ml-0 text-black font-normal text-xs sm:text-base tracking-widest leading-tight relative sm:absolute top-0 left-0 w-full {{ $metaAlign }}"       data-sal="slide-down"
      data-sal-delay="600"
      >[{{ $mediaCount }}]</span
    >
    {{ end }} {{ end }}
    <h6
      class="mb-0 ml-0 text-black font-normal text-xs sm:text-base tracking-widest leading-tight mt-1 sm:mt-3 inline-block sm:block {{ $metaAlign }}"
      data-sal="slide-down"
      data-sal-delay="600"
    >
      {{ .meta }}
    </h6>
  </span>
  {{ end }}
 </article>
<!-- </section> -->