<section
  data-hue="page"
  class="mx-auto bg-white relative z-100 overflow-y-hidden"
  style="backface-visibility: hidden"
>
  <section
    class="block-media group-hover flex flex-wrap mx-auto h-auto  px-4 sm:px-40 {{with .Params.row_alignment}}sm:justify-{{.}}{{else}}sm:justify-between{{end}}"
  >
    <div class="flex flex-col w-full px-4 sm:px-40">
      <div class="w-full lazy-gallery lazyload relative mt-20">
        <div class="paginated_gallery gallery">
          <div
            class="gallery_scroller flex flex-row justify-start items-center carousel"
            style="transform: translate3d(0, 0, 0)"
          >
            {{ partial "bookshop_bindings" `.Params.blog_slider` }}
            {{ partial "bookshop_partial" (slice "page" .Params.blog_slider) }}
          </div>
        </div>
      </div>
      <section class="py-6 mx-auto">
        <header class="flex flex-col items-start mb-8 leading-none">
          <h1 class="text-xl sm:text-5xl font-medium text-black pb-4">
            {{.Params.title}}
          </h1>
          <div class="text-base sm:text-2xl font-medium italic text-black">
            {{.Params.caption}}
          </div>
        </header>
        <div
          class="text-sm sm:text-base w-100 h-100 text-black leading-tight pb-8"
        >
          {{ .Params.content | markdownify }}
        </div>
        <div class="my-gallery px-4 xl:px-16" itemscope itemtype="http://schema.org/ImageGallery">
          {{ partial "bookshop_bindings" `.Params.post_blocks` }}
          {{ partial "bookshop_partial" (slice "page" .Params.post_blocks) (dict "color"
          .Params.theme_color "delay" "lazyload")}}
        </div>
      </section>
    </div>
  </section>
</section>

    {{- $options := dict "targetPath" "js/bundleetc.js" -}}
    <!-- {{- $jsBundle := resources.Get "js/index.js" | js.Build $options | resources.Minify | fingerprint -}} -->

    {{- $jsBundle := resources.Get "js/contentonly.js" | js.Build $options | fingerprint -}}
		<script src="{{ $jsBundle.RelPermalink }}" integrity="{{ $jsBundle.Data.Integrity }}" defer></script>
<script>
    function init() {
      var lazydelay = document.getElementsByClassName("lazyload-delay");
      for (var i = 0; i < lazydelay.length; i++) {
        lazydelay[i].classList.add("lazyload");
      }
    }
  document.addEventListener('DOMContentLoaded', init); // Ensures the script runs after the DOM is loaded
</script>