{{- define "main" -}}
<section data-hue="{{with .Params.navigation_theme}}{{.}}{{end}}" class="relative z-0">
    {{ partial "collection_header" .}}
    <section id="project-description" class="about-col pt-20 pb-8 sm:py-20 px-4 sm:px-16 lg:px-72 lg:mx-24 leading-tight  items-center relative z-100 bg-white text-black"  style="backface-visibility: hidden;">
            <section class="flex flex-col sm:flex-row mx-auto justify-center items-start text-xs">
                <aside class="w-full sm:w-1/3 ml-0 pb-8 sm:pb-0 flex sm:justify-start" data-sal="slide-up" data-sal-delay="50">
                    <div>
                    <h3 class="mb-3 text-sm tracking-loose uppercase pr-8" >{{ .Params.header_col_1_title | markdownify }}</h3>
                    {{ .Params.header_col_1 | safeHTML }}
                    </div>
                </aside>
                <aside class="w-full sm:w-1/3 mx-0lg:mx-8 pb-8 sm:pb-0 flex sm:justify-center" data-sal="slide-up" data-sal-delay="250">
                    <div>
                    <h3 class="mb-3 text-sm tracking-loose uppercase">{{ .Params.header_col_2_title | markdownify }}</h3>
                    {{ .Params.header_col_2 | safeHTML }}
                    </div>
                </aside>
                <aside class="w-full sm:w-1/3 ml-0  pb-4 sm:pb-0 flex sm:justify-end"  data-sal="slide-up" data-sal-delay="500">
                    <div>
                    <h3 class="mb-3 text-sm tracking-loose uppercase" >{{ .Params.header_col_3_title | markdownify }}</h3>
                    {{ .Params.header_col_3 | safeHTML }}
                    </div>
                </aside>
            </section> 
    </section>
    </section>
    <section data-hue="page" class="pt-4 mx-auto bg-white relative z-100 overflow-y-hidden" style="backface-visibility: hidden;">
        <section class="block-media group-hover flex flex-wrap mx-auto h-auto {{with .Params.row_alignment}}sm:justify-{{.}}{{else}}sm:justify-between{{end}}">
                {{ partial "about_bio" .}}
            <div class="pt-16 sm:pt-0 px-4 lg:px-32">
                {{ partial "bookshop_bindings" `.Params.about_blocks` }} 
                {{ partial "bookshop_partial" (slice "page" .Params.about_blocks) }}
            </div>
        </section>
        <footer class="w-full flex flex-col-reverse sm:flex-row px-4 lg:px-24 mt-24">
            <figure class="relative flex flex-row w-full sm:w-2/5 justify-start items-baseline">
                <figcaption class="text-xs tracking-widest h-auto whitespace-nowrap absolute left-0 bottom-0 z-999" data-sal="slide-down" data-sal-delay="600" style="left:-15px;">{{.Params.about_bio_doodle_credit}}</figcaption>
                <img class="lazyload opacity-100 sm:opacity-50 " data-src="{{.Params.about_footer_illustration}}" alt="" data-rellax-speed="2" data-rellax-xs-speed="1">
            </figure>
            <div class="w-full sm:w-3/5 z-100 flex flex-col-reverse sm:flex-row rellax-wrapper">
                <aside class="flex gap-x-6 -ml-32 self-end sm:self-start w-1/2 sm:w-fit rellax" data-rellax-speed="2" data-rellax-xs-speed="1">
                    <div class="flex flex-col w-1/2 " >
                        {{ $half := div (len .Params.footer_links) 2 }}
                        {{ range first $half .Params.footer_links }}
                            <a href="{{ .link_url }}" class="text-black text-xs tracking-loose sm:whitespace-nowrap" alt="link to - {{ .link_title }}">{{ .link_title }}</a>
                        {{ end }}
                    </div>
                    <div class="flex flex-col w-1/2">
                        {{ range after $half .Params.footer_links }}
                            <a href="{{ .link_url }}" class="text-black text-xs tracking-loose sm:whitespace-nowrap" alt="link to - {{ .link_title }}">{{ .link_title }}</a>               
                        {{ end }}
                    </div>
                </aside>
                <div class="sm:pl-40 sm:mt-56 lg:max-w-4xl text-sm">
                    {{.Params.about_footer_quotes | markdownify}}
                </div>
            </div>
        </footer>
</section>
{{- end -}}
