{{ $key := site.GetPage .attached_blog }}

<figure class="figure block-hover lg:meta-hover {{with .blog_block_cover }}figure-blog-cover{{else}}figure-blog-text{{end}} block-hover self-start {{with .align_y}}sm:self-{{.}}{{end}} w-full {{with .width}}sm:w-{{.}}/100{{end}} py-4 sm:py-0 mt-0 {{with .margin_y}}sm:mt-{{.}}{{end}} ml-0 {{with .margin_left}}sm:ml-{{.}}%{{end}} mr-0 {{with .margin_right}}sm:mr-{{.}}%{{end}} highlight rellax-wrapper">
  <div class="rellax"  data-rellax-speed="2" data-rellax-xs-speed="0" >
  <button type="button" id="blog-{{.title | lower | urlize}}" class="modal-trigger relative w-full flex flex-col h-auto sm:h-0 justify-between items-start items-center overflow-hidden {{with .block_aspect_ratio }}aspect-{{.}}{{else}}sm:aspect-4/3{{end}}" data-blog-id="{{.id}}" style="background-color: {{.theme_color}}" data-popup-trigger="blog-{{.title | lower | urlize}}" data-modal-trigger-url="/{{.attached_blog | replaceRE "(.md)" ""}}/content.html" name="View Blog - {{.title}} - Jesse Rieser" data-no-swup>
    {{ if .vimeo_block_cover }}
    <iframe data-src="https://player.vimeo.com/video/{{.vimeo_block_cover}}?background=1" class="lazyload object-cover absolute p-4 inset-0 z-0 h-full w-full" frameborder="0" allow="autoplay"></iframe>
    {{else if .blog_block_cover}}
      <img 
      data-sizes="auto"
      data-src="{{ .blog_block_cover | safeHTML }}?width=300"
      data-srcset="{{ .blog_block_cover | safeHTML }}?width=300 300w,
      {{ .blog_block_cover | safeHTML }}?width=600 600w, 
      {{ .blog_block_cover | safeHTML }}?width=900 900w,
      {{ .blog_block_cover | safeHTML }}?width=1200 1200w"
      class="lazyload bg-center object-cover absolute p-5 sm:p-0 inset-0 z-0 h-full w-full"
      data-parent-fit="cover" alt="{{.title }} - blog post cover image"/>
    {{end}}
    <div class="absolute top-0 left-0 h-full w-full flex flex-col justify-center p-4 sm:p-2">
        <h1 class="text-lg {{with .text_size}}lg:text-{{.}}{{else}}lg:text-2xl{{end}} opacity-100 lg:opacity-0 text-center tracking-widest">{{.title}}</h1>
        <h2 class="text-base opacity-100 lg:opacity-0  text-center tracking-widest">{{.caption}}</h2>
    </div>
  </button>
  {{ if site.Params.env_bookshop_live }}
  <h6 class="mb-0 ml-0 text-black font-normal text-xs sm:text-base tracking-widest leading-tight mt-1 sm:mt-3" data-sal="slide-down" data-sal-delay="600">Editor Placeholder</h6>
  {{ else }}
  <h6 class="mb-0 ml-0 text-black font-normal text-xs sm:text-base tracking-widest leading-tight mt-1 sm:mt-3 {{with .meta_align}}sm:text-{{.}}{{end}} text-left" data-sal="slide-down" data-sal-delay="600">{{range $key.Params.news_category}}{{. | replaceRE "[\\W]" ""}} {{end}}</h6>
  {{end}}
  </div>
</figure>