{{ $key := site.GetPage .attached_blog }}

<article id="popup-{{$key.Params.title | lower | urlize}}" class="popup-modal scrollbar block fixed z-999 text-black bg-white overflow-y-scroll overflow-x-hidden h-full w-full inset-0 editor-hidden" data-popup-modal="blog-{{$key.Params.title | lower | urlize}}" style="visibility: hidden; opacity: 0; overflow-y: scroll;" role="dialog" aria-modal="true">
    <div class="flex flex-col w-full px-4 sm:px-40">
      <header class="fixed top-0 left-0 w-full px-4 sm:px-20 flex flex-row justify-between py-6 z-100 bg-white items-baseline">
        <div class="text-lg sm:text-2xl uppercase font-medium text-center text-black">JESSE RIESER</div>
          <div class="text-xs sm:text-xl pr-12 sm:pr-0 uppercase font-medium text-center text-black">NEWS: <span class="italic font-light">{{range $key.Params.news_category}}{{.}}{{end}}</span></div>
            <svg width="35" height="35" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" class="hover icon pointer h-6 w-6 mr-2 sm:mr-6 absolute top-0 right-0 text-white popup-modal__close z-999" style="margin-top:1.6rem;"><g fill="none" stroke="#000"  stroke-miterlimit="10" stroke-width="10"><path d="m4.7 4.7 246.6 246.6"/><path d="m250.85 4.7-246.6 246.6"/></g></svg>
      </header>
      <div class="w-full lazy-gallery relative mt-20">
        <div class="paginated_gallery gallery">
          <div class="gallery_scroller flex flex-row justify-start items-center carousel" style="transform: translate3d(0,0,0);">
              {{ partial "bookshop_bindings" `$key.Params.blog_slider` }}
              {{ partial "bookshop_partial" (slice "page" $key.Params.blog_slider) }}
            </div>
        </div>
      </div>
      <section class="py-6 w-full mx-auto px-4 sm:px-40">
        <header class="flex flex-col items-start mb-8 leading-none">
          <div class="text-xl sm:text-5xl font-medium text-black pb-4">{{$key.Params.title}}</div>
          <div class="text-base sm:text-2xl font-medium italic text-black">{{$key.Params.caption}}</div>
        </header>
        <div class="text-sm sm:text-base w-100 h-100 text-black leading-tight pb-8">
          {{ $key.Params.content | markdownify }}
        </div>
        <section class="block-media group-hover flex flex-wrap mx-auto h-auto {{with .Params.row_alignment}}sm:justify-{{.}}{{else}}sm:justify-between{{end}}">
          {{ partial "bookshop_bindings" `$key.Params.post_blocks` }} 
          {{ partial "bookshop_partial" (slice "page" $key.Params.post_blocks) }}
        </section>
      </section>
    </div>
    {{ if $key.Params.attached_collection }}
    {{ $attached := $key.Params.attached_collection }}
    {{ $attached := string $attached}}
    {{ with site.GetPage $attached }}
    <section class="mt-4 sm:mt-16 text-black">
      <a href="/{{.Params.slug}}/" alt="view collection" class="exit-modal">
          <div class="mx-auto w-full mb-8 text-center font-light"  data-sal="slide-down" data-sal-delay="300">
              <p class="text-md sm:text-xl font-light">View Full Project</p>
          </div>
      </a>
    </section>
    {{ end }}
    {{ else if  $key.Params.attached_link }}
    <section class="mt-4 sm:mt-16 text-black">
      <a href="{{$key.Params.attached_link}}" alt="view collection" class="exit-modal">
          <div class="mx-auto w-full mb-8 text-center font-light"  data-sal="slide-down" data-sal-delay="300">
              <p class="text-md sm:text-xl font-light">View Full Project</p>
          </div>
      </a>
    </section>
    {{end}}
  </article>
  <!-- end post modal -->