
{{ with .Site.Home }}
        body.page-{{lower .Title | urlize}} .shift.nav-ig{
            fill: {{.Params.feature_color}};
        };
{{end}}
/* about */
{{ with .Site.GetPage "about" }}
body.page-{{lower .Title | urlize}}  .bun {
        background-color: {{.Params.theme_color}};
    }

    body.page-{{lower .Title | urlize}} .shift{
        color: {{.Params.theme_color}};
    }

    body.page-{{lower .Title | urlize}} .shift.nav-ig {
        fill: {{.Params.theme_color}};
    }
    html.to-about body {
        background-color: {{.Params.theme_color}};
    }
{{end}}

/* collection style preloaders */
{{ range (where .Site.RegularPages "Section" "collections") }}
    body.page-{{lower .Title | urlize}} .bun {
        background-color: {{.Params.theme_color}};
    }

    body.page-{{lower .Title | urlize}} .shift{
        color: {{.Params.theme_color}};
    }

    body.page-{{lower .Title | urlize}}  .shift.nav-ig {
        fill: {{.Params.theme_color}};
    }
    
    {{$URL := .RelPermalink | safeCSS | replaceRE "/" "-"}}
    html.to{{substr $URL 0 -1 }} body {
        background-color: {{.Params.theme_color}};
    }
{{end}}
