{{- define "main" -}}
<section data-hue="{{with .Params.navigation_theme}}{{.}}{{else}}white{{end}}" class="relative z-0">
  {{ partial "collection_header" . }}
</section>
<section data-hue="page" class="pt-8 mx-auto bg-white relative z-100 overflow-hidden"style="backface-visibility: hidden;">
    <div class="px-4 xl:px-16">
      {{ partial "bookshop_bindings" `.Params.content_blocks` }} 
      {{ partial "bookshop_partial" (slice "page" .Params.content_blocks) }}
    </div>
</section>
{{ partial "collection_footer" .}}

<article id="popup-modal-url" class="popup-modal block fixed z-100 text-black bg-white inset-0 editor-hidden overflow-y-scroll h-full w-full flex flex-col justify-start" style="visibility: hidden; opacity: 0;" role="dialog" aria-modal="true">

</article>

{{- end -}}
{{- define "attached" -}}

<script>
  (function(){
    var images = [
      {{- range .Params.selected_works_theme -}}
      ["<source data-srcset='{{ .image_mobile }}?width=720' media='(orientation: portrait) and (max-width: 688px)' /><source data-srcset='{{ .image_mobile }}?width=1040' media='(orientation: portrait) and (max-width: 1024px)' /><source data-srcset='{{ .image }}?width=1040' media='(max-width: 1024px)' /><source data-srcset='{{ .image }}?width=1500' media='(max-width: 1440px)'  /><source data-srcset='{{ .image }}?width=2560' media='(max-width: 2560px)'  /><img id='header-image' data-src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' class='featured bg-center lazyload h-full object-cover absolute inset-0 z-0' data-sizes='auto' alt='Jesse Rieser Featured Collection Image'/>","{{.theme_color}}"],
      {{- end -}}
    ];

    var imgCount = images.length;
    var randNumber = Math.floor((Math.random() * imgCount) + 1);
    var imgURL = images[randNumber-1];

    // const featurePicture = document.getElementById("feature-picture");
    const navigationContainer = document.querySelector('.navigation-container');

    var color = imgURL[1]; // This is the theme color from your array

    // Create a <style> element
    var style = document.createElement('style');
    style.type = 'text/css';

    // Append the style element to the head of the document
    document.head.appendChild(style);
    
    if (navigationContainer) {
      // Set the color for text and the fill for SVG elements
      navigationContainer.style.color = color;
      navigationContainer.style.fill = color;
    }

    // Ensure featurePicture exists before modifying it
    // if (featurePicture) {
    //   featurePicture.innerHTML = imgURL[0];
    // } else {
    //   console.error('Element with id "feature-picture" not found');
    // }
  }());
</script>
{{- end -}}

