{{- define "main" -}}
    <section data-hue="{{with .Params.navigation_theme}}{{.}}{{end}}" class="relative z-0">
        {{ partial "collection_header" .}}
    </section>
    <section data-hue="page" class="mx-auto bg-white relative z-100 overflow-y-hidden" style="backface-visibility: hidden;">
        <div class="my-gallery flex flex-wrap sm:flex-row {{ if .Params.collection_overview }}overview-gallery{{end}} {{ if .Params.collection_grid }}overview-grid{{end}} px-4 xl:px-16" itemscope itemtype="http://schema.org/ImageGallery">
                {{ partial "bookshop_bindings" `.Params.collection_blocks` }} 
                {{ partial "bookshop_partial" (slice "page" .Params.collection_blocks) }}
        </div>
        <!-- Conditional Partial Based on .Params.collection_overview -->
        {{ if .Params.collection_overview }}
            {{ partial "overview_pager" .}}
        {{ else }}
            {{ partial "collection_pager" .}}
        {{ end }}
    </section>
    <section class="mx-auto relative z-100 overflow-y-hidden" data-hue="white">
        {{ partial "collection_footer" .}}
    </section>
    {{ partial "gallery" . }}
{{- end -}}
